<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Internet à travers le monde</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"></link>

</head>
<body>
	<main id="app">
		<h1>Internet à travers le monde en {{selectedYear}}</h1>
		<div class="info">
			Vous pouvez cliquer sur un pays ou sur le cercle représentant un pays pour accéder aux détails de celui-ci.
		</div>
	  	<form>
			<p>Veuillez choisir la méthode d'affichage (du plus au moins gourmand) :</p>
		  	<div>
		  		<b>Affichage :</b>
		    	<input type="radio" id="fullColorLabel" name="method" value="full" v-model="displayMethod">
		    	<label for="fullColorLabel">Full</label>
		    	<input type="radio" id="dots" name="method" value="light" v-model="displayMethod">
		    	<label for="dots">Points</label>
		    	<input type="radio" id="fullColor" name="method" value="optimized" v-model="displayMethod">
		    	<label for="fullColor">Optimisé</label>
		  	</div>
		  	<div>
		  		<b>Projection : </b>
		  		<input type="radio" id="Miller" name="projection" value="Miller" v-model="projection">
		    	<label for="Miller">Miller</label>
		    	<input type="radio" id="Orthographic" name="projection" value="Orthographic" v-model="projection">
		    	<label for="Orthographic">Orthographic</label>
		  	</div>
		  	<div>
		  		<button type="button" class="btn btn-info" @click="displayMap" v-if="serie==null">Afficher</button>
		  		<button type="button" class="btn btn-info" @click="displayMap" v-else>Rafraichir</button>

		  	</div>
		</form>
		<div id="chartdiv"></div>
		<div class="info">Vous pouvez également cliquer sur la ligne d'un pays pour voir ses détails.</div>
		<table id="countryList" class="hover stripe">
			<thead>
				<th></th>
				<th>Code</th>
				<th>Entity</th>
				<th>Year</th>
				<th>%</th>
			</thead>
			<tbody>
				<tr v-for="(country,code,index) in countries">
					<td><img :src="country.flag" style="height: 25px"></td>
					<td>{{code}}</td>
					<td>{{country.Entity}}</td>
					<td>2016</td>
					<td>{{getValueForYear(country,2016)}}</td>
				</tr>
			</tbody>
		</table>
		<span id="countryDetailCountainer" style="display: none">
			<h3 v-if="selectedCountry!=''">
				Accès à internet : {{countries[selectedCountry].Entity}}
				<img v-if="selectedCountry!=''" :src="countries[selectedCountry].flag" style="height: 25px;">
			</h3>
			<div class="info">
				Cliquer sur une ligne pour pouvoir l'éditer.
			</div>
			<table id="countryDetail" class="hover stripe" v-show="selectedCountry!=''">
				<thead>
					<th>Year</th>
					<th>%</th>
				</thead>
				<tbody>
					<template v-if="selectedCountry!=''">
						<tr v-for="(value,year) in countries[selectedCountry].Share">
							<td>{{year}}</td>
							<td>{{value}}</td>
						</tr>
					</template>
				</tbody>
			</table>
			
			<div id="entry">
				<button type="button" class="btn btn-info" @click="addEntry">Ajouter une entrée</button>
				<span v-show="editData.Code!=null">
					<label for="year">Année : </label>
					<input type="number" name="year" v-model="editData.Year">
					<label for="percentage">Pourcentage : </label>
					<input type="number" name="percentage" v-model="editData.Percentage">
					<button type="button" class="btn btn-success" @click="submitData">Valider</button>
				</span>
			</div>
		</span>
	</main>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		
	<script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/maps.js"></script>
	<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
	<!--<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>-->

	<script type="text/javascript" src="/js/vue.js"></script>
	<script type="text/javascript" src="/js/vue-resource.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

	
</body>
</html>