<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"></link>

</head>
<body>
	<main id="app">
		<h1>Internet à travers le monde en {{selectedYear}}</h1>
	  	<form>
			<p>Veuillez choisir la méthode d'affichage (du plus au moins gourmand) :</p>
		  	<div>
		    	<input type="radio" id="fullColorLabel" name="method" value="full" v-model="displayMethod">
		    	<label for="fullColorLabel">Full</label>
		    	<input type="radio" id="dots" name="method" value="light" v-model="displayMethod">
		    	<label for="dots">Points</label>
		    	<input type="radio" id="fullColor" name="method" value="optimized" v-model="displayMethod">
		    	<label for="fullColor">Optimisé</label>
		  	</div>
		  	<div>
		  		<input type="radio" id="Miller" name="projection" value="Miller" v-model="projection">
		    	<label for="Miller">Miller</label>
		    	<input type="radio" id="Orthographic" name="projection" value="Orthographic" v-model="projection">
		    	<label for="Orthographic">Orthographic</label>
		  	</div>
		  	<div>
		  		<button type="button" @click="displayMap">Afficher</button>
		  	</div>
		</form>
		<div id="chartdiv"></div>

		<table id="countryList" class="hover stripe">
			<thead>
				<th></th>
				<th>Code</th>
				<th>Entity</th>
				<th>Year</th>
				<th>%</th>
			</thead>
			<tbody>
				<!--<template v-for="(country,code,index) in countries">
					<tr v-for='(value,year) in country.Share'>
						<td>{{code}}</td>
						<td>{{country.Entity}}</td>
						<td>{{year}}</td>
						<td>{{getValueForYear(value,2016)}}</td>
					</tr>
				</template>-->
				<tr v-for="(country,code,index) in countries">
					<td><img :src="country.flag" style="height: 25px"></td>
					<td>{{code}}</td>
					<td>{{country.Entity}}</td>
					<td>2016</td>
					<td>{{getValueForYear(country,2016)}}</td>
				</tr>
			</tbody>
		</table>
		<span id="countryDetailCountainer" style="display: none">
			<h3 v-if="selectedCountry!=''">
				Accès à internet : {{countries[selectedCountry].Entity}}
				<img v-if="selectedCountry!=''" :src="countries[selectedCountry].flag" style="height: 25px;">
			</h3>
			<table id="countryDetail" class="hover stripe" v-show="selectedCountry!=''">
				<thead>
					<th>Year</th>
					<th>%</th>
				</thead>
				<tbody>
					<template v-if="selectedCountry!=''">
						<tr v-for="(value,year) in countries[selectedCountry].Share">
							<td>{{year}}</td>
							<td>{{value}}</td>
						</tr>
					</template>
				</tbody>
			</table>
			<button type="button" @click="addEntry">Ajouter une entrée</button>
			<div id="entry">
				<input type="number" name="year" v-model="editData.Year">
				<input type="number" name="percentage" v-model="editData.Percentage">
				<button type="button" @click="submitData">Valider</button>
			</div>
		</span>
	</main>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		
	<script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/maps.js"></script>
	<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
	<!--<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>-->

	<script type="text/javascript" src="/js/vue.js"></script>
	<script type="text/javascript" src="/js/vue-resource.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

	
</body>
</html>